h1{
    color:blue;
    text-align: center;
    background-color: black;
}

h2{
    color: royalblue;
    text-align:center;
    background-color: black;
}

h3{
    color:cadetblue;
}

p{
    color: darkslategrey
}

body{
    background-image: url(../images/images2.jpeg);
}

